extends layout

block content
  h1 Package Tracker

  each pkg in packages
    .p-package
      .p-package__name= pkg.name
      .p-package__date= pkg.getTimeAgo()
      .p-package__store= pkg.store
      if pkg.tracking
        .p-package__tracking= pkg.tracking
